.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-body {
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.score-card {
  border: 1px solid #b37f7f;
  height: 10cqi;
  width: calc(100% / 4);
  margin: 1cqmax;
  text-align: left;
  overflow-wrap: break-word;
}

.score-card p {
  font-size: 1rem;
  padding-left: 2cqmin;
  padding-top: 1.5cqmin;
}

.score-card h1 {
  font-size: 1.2rem;
  padding-left: 2cqmin;
  padding-top: 1.5cqmin;
}

.indexes-group {
  display: flex;
}

.topbar {
  background-image: url('../public/topbar-tree.png');
  background-repeat: no-repeat;
  height: 0;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: calc(100% / 4);
  overflow-y: hidden;
  transition: 0.2s;
}

.close-topbar-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

.topbar-items {
  font-size: 36px;
  margin-left: 50px;
}
